.workspace {
    background: #f8fafd;
    width: calc(100vw - 220px);
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c4c7c5;
    padding: 50px;
}