.slideObject {
    position: absolute;
    background: none;
    border: 1px solid #c4c7c5;
    outline: none;
}

.slideObject:hover {
    border: 1px solid #747775;
}

.slideObject:focus {
    border: 2px solid #0B57D0;
}